<h1>Burgers!</h1>

<img src="../assets/img/burger.png">

<h2>Burgers that have not been devoured (drooling...)!</h2>



<ul>
  {{#each burgers}}
    {{#unless devoured}}
        {{burger_name}}
	    <button class="devour" data-id="{{id}}" data-devour="{{devoured}}">
		    Devour!
	    </button>
	{{/unless}}
  {{/each}}
</ul>

<h2>Burger that have been devoured! NOM NOM NOM!</h2>

<ul>
  {{#each burgers}}
    {{#if devoured}}
        {{burger_name}} |
    {{/if}}
  {{/each}}
</ul>

<h2>Add a Burger</h2>
<form class="create-form">

  <div>
    <label for="ca">Burger Name:</label>
    <input type="text" id="ca" name="name">
  </div>

  <button type="submit">Add Burger</button>
</form>
